@import url('https://fonts.googleapis.com/css?family=Contrail+One|Permanent+Marker');

#title {
  width: 400px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  background-color: grey;
  color:black;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Permanent Marker', cursive;
}

#container {
  width: 400px;
  height: 600px;
  background-color: black;
  margin-top: 0;
  padding: 20px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);

}

.wrap {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;

}

#cart_container {
  width: 400px;
  height: 620px;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 50px 0 60px 0;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: 'Contrail One', cursive;
}

#cart_container div {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#cart_container p {
  display: inline-block;
  position: absolute;
  width: 260px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#cart_container #total {
  color: black;
  position: absolute;
  bottom: 150px;
  height: 100px;
  font-size: 25px;
}

#cart_container img {
  position: absolute;
  width: 100px;
}

#cart_container #cardicon {
  bottom: 20px;
  right: 50px;
}

#cart_container #cashicon {
  bottom: 20px;
  left: 50px;
}

#cart_info {
  height:25px;
  background-color: #4ae4e4;
  text-align: center;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

#cart_container img {
  position: absolute;
  width: 100px;
}

#cart_container #cardicon {
  bottom: 20px;
  right: 50px;
}

#cart_container #cashicon {
  bottom: 20px;
  left: 50px;
}

.item {
  height: 100px;
  width: 100px;
  background-color: white;
  background-size: 111%;
  border-radius: 5px;
  font-family: 'Contrail One', cursive;
  margin-bottom: 40px;
  text-align: center;
}

#x_div img {
  position: absolute;
  top: 0px;
}

#stuff {
  height: 200px;
  width: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#stuff .item p {
  position: absolute;
  margin-top: 220px;
  height: 200px;
  width: 200px;
  color: black;
}

#stuff .item {
  margin-top: 15px;
  height: 200px;
  width: 200px;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
}

.item p {
  color: #4ae4e4;
  margin-top: 103px;
}

#info_popup {
  height: 400px;
  width: 300px;
  background-color: #bfbfbf;
  border-radius: 5px;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Contrail One', cursive;
  -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 22px -1px rgba(0,0,0,1);
}

#info_popup button.is-active{
  background-color: pink;
}

#info_popup img {
  position: absolute;
  right: 0;
  width: 25px;
}

#title img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.item h4 {
  width: 100%;
  position: absolute;
  visibility: visible;
  margin-top: 270px;
  border-top: 1px solid black;
  padding-top: 10px;
}

#container h4 {
  display: none;
}

#info_popup p h4 {
  visibility: visible;
}

#info_popup button{
  position:absolute;
  bottom: 20px;
  background-color: #4ae4e4;
  border:none;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Contrail One', cursive;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  width:200px;
  padding:5px 0;
  font-size:16px
}

#total {
  width: 100%;
  height: 40px;
  background-color: #4ae4e4;
  margin-top: 20px;
  padding-top: 10px;
  font-family: 'Contrail One', cursive;
  text-align: center;
  font-size: 30px;
}

#i1{background-image:url("Images/hat1.jpg");}
#i2{background-image:url("Images/hat2.jpg");}
#i3{background-image:url("Images/hat3.jpg");}
#i4{background-image:url("Images/hat4.jpg");}
#i5{background-image:url("Images/hat5.jpg");}
#i6{background-image:url("Images/hat6.jpg");}
#i7{background-image:url("Images/hat7.jpg");}
#i8{background-image:url("Images/hat8.jpg");}
#i9{background-image:url("Images/hat9.jpg");}
#i10{background-image:url("Images/hat10.jpg");}
#i11{background-image:url("Images/hat11.jpg");}
#i12{background-image:url("Images/hat12.jpg");}


#credit_container{
  background-color:#fff;
  min-width: 350px;
  width:24%;
  margin:0 auto;
  border-radius:5px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top:180px;
  display: none;
}

#topdiv{
  background-color:#bfbfbf;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: -7px 26px 33px -31px rgba(0,0,0,0.54);
-moz-box-shadow: -7px 26px 33px -31px rgba(0,0,0,0.54);
box-shadow: -7px 26px 33px -31px rgba(0,0,0,0.54);
}

#topdiv p{
  margin:0;
  text-align:center;
  padding: 20px;
  font-family: 'Contrail One', cursive;
  font-size:22px;
  color:#165d5d;
}

#payment{
  display:flex;
  justify-content:center;;
  margin:10px 0 10px 0;
}

#payment img{
  width:57px;
  height:36px;
  border:1px solid #bfbfbf;
  border-radius:2px;
  margin:10px 3px 10px 3px;
}

#form{
  display:flex;
  flex-direction:column;
  width:90%;
  margin:0 auto;
}

#form label{
  font-family: 'Contrail One', cursive;
  display:block;
}

#form input{
  height:30px;
  border-radius:2px;
  border:1px solid #bfbfbf;
  margin: 5px 0 15px 0;
}

#datecode{
  display:flex;

}

#datecode input{
  width:98%
}

#orderbutton{
  text-align:center;
}

#credit_container button{
  background-color:#165d5d;
  border:none;
  font-family: 'Contrail One', cursive;
  font-size:18px;
  color:white;
  padding:10px;
  margin-bottom:10px;
  width:90%;
}

#credit_container .active{
  background-color:#b4d2d2;
  cursor:progress;
}

#credit_container h5{
  text-align:center;
  font-family: 'Contrail One', cursive;
  font-size:18px;
  color:#165d5d;
}

#receipt_button{
  display:none;
  margin-left: 50%;
  transform: translateX(-50%);
}


@media screen and (min-width: 768px) {

body {
  background-color: black;
}
#title {
  width: 100%;
  max-width: 100%;

}

#container {
  width: 100%;
  height: ;
  max-width: 1350px;

}

div .item {
 width: 200px;
 height: 200px;
 
}

.item p {
  margin-top: 210px;
}

#cart_container {
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
}
p#cart_info  {
  max-width: 100%;
  width: 100%;
}

#cashicon {
  margin-bottom: 135px;
}

#cardicon {
  margin-bottom: 135px;
}

#total {
  margin-bottom: 
}

#credit_container p {
  font-family: 'Contrail One', cursive;
  margin: 20px 20px 10px 20px;
  text-align: center;

}
#cashamount {
    margin-left: 50%;
  transform: translateX(-50%);
}

div#submit_cash {

  background-color:#165d5d;
  border:none;
  font-family: 'Contrail One', cursive;
  font-size:18px;
  color:white;
  padding:10px;
  margin-bottom:10px;
  width:90%;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 10px;
}

#credit_container {
  margin-top: 50px;
}

#cart_container {
  color: white;
  text-align: center;
}


}
