@import url('https://fonts.googleapis.com/css?family=Contrail+One|Permanent+Marker');


#title {
  width: 400px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  background-color: grey;
  color:black;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Permanent Marker', cursive;
}

#container {
  width: 400px;
  height: auto;
  background-color: black;
  margin-top: 0;
  padding: 20px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);

}

.wrap {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;

}

#cart_container {
  width: 400px;
  height: 550px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 20px 0 60px 0;
  position: absolute;
  top: 78px;
  color: white;

}

.item {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  font-family: 'Contrail One', cursive;
}

#info_popup {
  height: 300px;
  width: 300px;
  background-color: yellow;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Contrail One', cursive;
}

#info_popup img {
  position: absolute;
  right: 0;
  width: 25px;
}

#title img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

#total {
  width: 340px;
  height: 40px;
  background-color: yellow;
  margin-top: 20px;
  font-family: 'Contrail One', cursive;
}

#i1 {
  background-image: url("Images/hat1.jpg");
}

#i2 {
  background-image:url("Images/hat2.jpg")
}

#i3{
  background-image:url("Images/hat3.jpg")
}

#i4{
  background-image:url("Images/hat4.jpg")
}

#i5{
  background-image:url("Images/hat5.jpg")
}

#i6{
  background-image:url("Images/hat6.jpg")
}

#i7{
  background-image:url("Images/hat7.jpg")
}

#i8{
  background-image:url("Images/hat8.jpg")
}
#i9{
  background-image:url("Images/hat9.jpg")
}
#i10{
  background-image:url("Images/hat10.jpg")
}
#i11{
  background-image:url("Images/hat11.jpg")
}
#i12{
  background-image:url("Images/hat12.jpg")
}
